# Python
__pycache__/
venv/

# SQLite DB
*.db

# Docker
*.tar

# VSCode / IDE Settings
.vscode/
.idea/

# AWS CLI credentials
*.aws

# Terraform state
*.tfstate
*.tfstate.backup
terraform/outputs.tf
terraform/.terraform/
terraform/.terraform.lock.hcl